<div class="message mb-2 <%= 'me' if message.user == current_user %>">
  <div class="content-container">
    <div class="content">
      <div><%= message.content %></div>
      <span><%= message.created_at.strftime("%H:%M") %></span>
    </div>
    <div class="author">
      <%= message.user.username %>
    </div>
  </div>
</div>
