@import "bootstrap";

body {
  overflow-y: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

.sidebar {
  background-color: #999;
  padding: 1rem;
  height: 100vh;
  overflow-y: scroll;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

.chat-room {
  height: 100vh;
  background: #FFF;

  nav {
    background: #999;
    height: 10vh;
    span {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 0 1rem;
    }
    div {
      font-size: 1rem;
      padding: 0 1rem;
    }
  }

  #messages {
    height: 80vh;
    overflow-y: scroll;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
  }

  .message {
    .content-container {
      display: inline-block;
      .content {
        max-width: 40vw;
        background-color: #DDD;
        padding: 1.1rem;
        position: relative;
        border-radius: 25px;
        span {
          float: right;
          font-size: 0.7rem;
        }
      }
      .author {
        font-size: 0.8rem;
        color: #777;
      }
    }
    &.me {
      display: flex;
      justify-content: flex-end;
      .content-container {
        .content {
          background-color: #212529;
          color: #FFF;
        }
        .author {
          text-align: right;
        }
      }
    }
  }
  .chat-box {
    height: 10vh;
    padding: 1rem;
    background-color: #999;
    input[type=text] {
      font-size: 18px;
    }
  }
}

.room-link {
  text-decoration: none;
  .room-card {
    transition: background-color 0.5s ease;
    border-radius: 20px;
    text-transform: capitalize;
    &:hover {
      background-color: #CCC;
    }
    &.active {
      background-color: #212529;
      .name {
        color: #FFF;
      }
      .member-count {
        color: #E0E0E0;
      }
    }
    .name {
      font-weight: bold;
      color: #000;
    }
    .member-count {
      color: #777;
      font-weight: light;
    }
  }
}
